.app__cp{
  font-size:1.5rem;
  color:rgb(38, 44, 33);
  display:inline-block;
  transition:opacity 5s;
  position:relative;  
  bottom:7.7rem;
}
.hide{
  opacity: 0.0;
  pointer-events: none
}
.show{
  opacity:1;
  pointer-events: auto
}